@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure dark text color for input fields */
input,
textarea {
  color: var(--background); /* Dark text color */
  background-color: var(--foreground);
}

/* Mobile adjustments for input fields */
@media (max-width: 640px) {
  input,
  textarea {
    color: var(--background); /* Ensure dark color on mobile devices */
    font-size: 16px; /* Larger font size for better readability */
  }
}

/* For autofill text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--background); /* Dark text color */
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset; /* Match background */
  box-shadow: 0 0 0px 1000px var(--background) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Focus styles for better visibility */
input:focus,
textarea:focus {
  outline: none;
  border-color: rgba(75, 192, 192, 1);
  box-shadow: 0 0 0 2px rgba(75, 192, 192, 0.4);
}
